body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #202122;
  margin: 0px;
  padding: 0;
}

section {
  padding: 20px;
}

.banner {
  display: block;
  width:100%;
  margin:0;
  height: auto;
  position: relative;
}

.rodape{
  font-size:140%;
  color: #0645ad;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top:10px;

}


footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 40px;
  font-size: 0.9em;
  text-align: center;
  color: #555;
}